<div class="garbage-management-header">
  <div class="garbage-management-header-background">
    <!-- <video
      [src]="'../../../assets/image/header/test.mp4'"
      autoplay
      loop
    ></video> -->
  </div>
  <div class="garbage-management-header-datetime">
    <howell-garbage-management-header-datetime></howell-garbage-management-header-datetime>
  </div>
  <div class="garbage-management-header-content">
    <div class="garbage-management-header-content-title">
      {{ title }}
    </div>
    <div class="garbage-management-header-content-shadow">
      {{ title }}
    </div>
  </div>
  <div class="garbage-management-header-operation">
    <howell-garbage-management-header-operation
      [user]="user"
    ></howell-garbage-management-header-operation>
  </div>
</div>
