<div class="garbage-management-manager-map-ias-extend-heatmap">
  <div></div>
  <div class="forms">
    <div class="form-item">
      <div class="form-item-text">开始时间</div>
      <div class="form-item-value date">
        <date-time-control
          [(date)]="args.duration.begin"
          (dateChange)="on.change()"
        ></date-time-control>
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text">结束时间</div>
      <div class="form-item-value date">
        <date-time-control
          [(date)]="args.duration.end"
          (dateChange)="on.change()"
        ></date-time-control>
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text">高频事件</div>
      <div class="form-item-value">
        <hw-select [(selected)]="args.timeout" [nullable]="true">
          <select [(ngModel)]="args.timeout" (change)="on.change()">
            <option [ngValue]="true">是</option>
            <option [ngValue]="false">否</option>
          </select>
        </hw-select>
      </div>
    </div>
    <div class="form-item">
      <label for="heatmap_textable">
        显示数量
        <input
          id="heatmap_textable"
          type="checkbox"
          [(ngModel)]="textable"
          (change)="on.textable()"
        />
      </label>
    </div>
  </div>
  <div class="garbage-management-manager-map-ias-extend-heatmap-operation">
    <div class="button" (click)="on.close()">
      <i class="howell-icon-Close"></i>
    </div>
  </div>
</div>
