<div class="garbage-management-chart-record-event-container">
  <div class="garbage-management-chart-record-event-container-head">
    <div class="garbage-management-chart-record-event-container-head-title">
      <div
        class="garbage-management-chart-record-event-container-head-title-sub"
      >
        （单位：起）
      </div>
    </div>
  </div>
  <div class="garbage-management-chart-record-event-container-body">
    <howell-garbage-management-chart-record-event
      [unit]="unit"
      [datas]="datas"
      [xAxis]="xAxis"
      [color]="color"
    ></howell-garbage-management-chart-record-event>
  </div>
</div>
