<div class="garbage-management-record-event-illegal-vehicle-task-info">
  <div class="forms" *ngIf="data">
    <div class="form-item">
      <div class="form-item-text" text-space-between>报警时间</div>
      <div class="form-item-value">
        {{ data.EventTime | date : Language.YearMonthDayHHmmss }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>投放点</div>
      <div class="form-item-value">
        {{ data.Data.StationName }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>报警设备</div>
      <div class="form-item-value">
        {{ data.ResourceName }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>所属街道</div>
      <div class="form-item-value">
        {{ ((viewmodel?.Division | async)?.Parent | async)?.Name || "-" }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>所属居委</div>
      <div class="form-item-value">
        {{ data.Data.DivisionName || "-" }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>所属社区</div>
      <div class="form-item-value">
        {{ data.Data.CommunityName || "-" }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>地址</div>
      <div class="form-item-value">
        {{ (viewmodel?.GarbageStation | async)?.Address || "-" }}
      </div>
    </div>
  </div>
  <div class="forms" *ngIf="data">
    <div class="form-item">
      <div class="form-item-text" text-space-between>车牌号码</div>
      <div class="form-item-value">
        {{ data.Data.PlateNo || "-" }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>车牌颜色</div>
      <div
        class="form-item-value"
        [ngClass]="{
        'text-blue': data.Data.PlateColor === 1,
            'text-orange': data.Data.PlateColor === 2,
            'text-white': data.Data.PlateColor === 3,
            'text-black': data.Data.PlateColor === 4,
            'text-green': data.Data.PlateColor === 5,
      }"
      >
        {{ Language.PlateColor(data.Data.PlateColor) }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>车辆类型</div>
      <div class="form-item-value">
        {{ Language.VehicleType(data.Data.VehicleType) }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>处置员</div>
      <div class="form-item-value">
        {{ data.Data.ProcessorName || "-" }}
      </div>
    </div>
  </div>
</div>
