.garbage-management-map {

  &-container {

    ::ng-deep {
      .amap-info-window-content {
        &.garbage-station {
          display: flex;
          flex-direction: column;
          gap: 5px;

          &-title {}

          &-info {}

          &-statistic {}
        }
      }
    }
  }
}
