.garbage-management-map {

  &-container {

    ::ng-deep {
      .record-ias {
        .amap-info-window-content {
          line-height: 27px;


          &-item {
            display: flex;
            align-items: center;
            gap: 5px;

            &-icon {
              color: #80aaff;
            }

            &-value {
              color: #bdd3ff;
            }
          }

          .hr {
            margin: 0;
          }

          &-timeout {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #bdd3ff;

            &-value {
              display: flex;
              align-items: center;
              gap: 5px;


              &-number {
                color: white;
              }
            }
          }
        }

        .amap-info-sharp {
          top: 74px;
        }
      }
    }
  }
}
