<div class="garbage-management-record-event-ias-list-table">
  <div class="garbage-management-record-event-ias-list-table-body table-page">
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <td>图片</td>
          <td>设备名称</td>
          <td>责任网格</td>
          <td>发现时间</td>
          <td>描述</td>
          <td>处置状态</td>
          <td>处置人员</td>
          <td>处置时间</td>
          <td class="center"><div>操作</div></td>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of datas; let i = index"
          [style.height]="100 / page.PageSize + '%'"
          [ngClass]="{
            selected: selected === item,
            nodata: !item,
            nohover: !item
          }"
          (click)="on.select(item)"
        >
          <td>
            @if(item){
            <div
              class="img-list"
              [ngClass]="{ noimage: !item.Resources }"
              *ngIf="item"
            >
              <div
                *ngFor="let resource of item.Resources; let i = index"
                class="img"
                [ngStyle]="{
                  backgroundImage: resource.ImageUrl
                    ? 'url(' + picture.get(resource.ImageUrl) + ')'
                    : 'none'
                }"
                (click)="picture.on($event, item, i)"
              ></div>
            </div>
            }
          </td>
          <td>
            @if(item){
            {{ item.DeviceName }}
            } @else{ &nbsp; }
          </td>
          <td>
            @if(item){
            {{ item.GridCellName }}
            }
          </td>
          <td>
            @if(item){
            {{ item.EventTime | date : Language.yyyyMMddHHmmss }}
            }
          </td>
          <td [title]="item?.Description ?? ''">
            @if(item){
            {{ item.Description }}
            }
          </td>
          <td
            [ngClass]="{
              'text-green': item && item.Assignment?.Handled,
              'text-yellow': item && !item.Assignment?.Handled
            }"
          >
            @if(item){
            {{ item.Assignment?.Handled ? "已处置" : "未处置" }}
            }
          </td>
          <td>
            @if(item){
            {{ item.Assignment?.Handler }}
            }
          </td>
          <td>
            @if(item){
            {{ item.Assignment?.HandledTime | date : Language.yyyyMMddHHmmss }}
            }
          </td>
          <td class="center">
            @if(item){
            <div class="operation">
              <button (click)="on.task(item)">
                <i class="howell-icon-task_misson"></i>
              </button>
              <button (click)="on.position(item)">
                <i class="glyphicon glyphicon-map-marker"></i>
              </button>
            </div>
            }
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="garbage-management-record-event-ias-list-table-foot foot"
    *ngIf="page"
  >
    <div class="foot-info">
      <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
      <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
    </div>

    <paginator [page]="page" (change)="on.page($event)"> </paginator>
  </div>

  <div class="loading" *ngIf="loading"></div>
</div>
