<div class="garbage-management-chart-record-event">
  <div class="garbage-management-chart-record-event-head">
    <div class="garbage-management-chart-record-event-head-title">
      <div class="garbage-management-chart-record-event-head-title-content">
        {{ title }}
      </div>
      <div class="garbage-management-chart-record-event-head-title-sub">
        （单位：{{ unit }}）
      </div>
    </div>
    <div class="garbage-management-chart-record-event-head-info">
      共{{ count }}{{ unit }}
    </div>
  </div>
  <div class="garbage-management-chart-record-event-body">
    <div class="garbage-management-chart-record-event-body-chart" #chart></div>
  </div>
</div>
