<div class="garbage-management-statistic-garbage-item">
  <div
    class="garbage-management-statistic-garbage-item-picture"
    [class]="data.class.picture"
  >
    <div
      class="garbage-management-statistic-garbage-item-icon"
      [class]="data.class.picture"
    >
      <i [class]="data.class.icon"></i>
    </div>
    <div
      class="garbage-management-statistic-garbage-item-shadow"
      [class]="data.class.picture"
    >
      <i [class]="data.class.icon"></i>
    </div>
  </div>
  <div class="garbage-management-statistic-garbage-item-info">
    {{ data.value }}
  </div>
  <div class="garbage-management-statistic-garbage-item-name">
    {{ data.name }}
  </div>
</div>
