<div class="garbage-management-card-ranking-record-event">
  <howell-garbage-management-card>
    <div ngProjectAs="card-header" class="card-head">
      <div class="card-head-title">
        {{ language.unit() }}{{ language.index() }}排名
      </div>
      <div class="card-head-operation">
        <select [(ngModel)]="unit" class="noborder">
          <option [ngValue]="TimeUnit.Day">今日</option>
          <option [ngValue]="TimeUnit.Week">本周</option>
          <option [ngValue]="TimeUnit.Month">本月</option>
        </select>
      </div>
    </div>
    <howell-garbage-management-ranking-record-event-ias
      [load]="load"
      [index]="index"
      [unit]="unit"
      (indexChange)="on.index($event)"
    ></howell-garbage-management-ranking-record-event-ias>
  </howell-garbage-management-card>
</div>
