<div class="garbage-management-chart-record-event-ias">
  <div class="garbage-management-chart-record-event-ias-head">
    <div class="garbage-management-chart-record-event-ias-head-title">
      <div class="garbage-management-chart-record-event-ias-head-title-sub">
        （单位：{{ language.unit() }}）
      </div>
    </div>
  </div>
  <div class="garbage-management-chart-record-event-ias-body">
    <howell-garbage-management-chart-record-event
      [datas]="datas"
      [xAxis]="xAxis"
      [color]="color"
    ></howell-garbage-management-chart-record-event>
  </div>
</div>
