@import "./table-page-sticky-thead.less";
@import "./table-page-sticky-tbody.less";

.table-page-sticky {

  border: 1px solid #286cf1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  table {

    width: 100%;
    border-collapse: collapse;
    border: none;
    position: relative;
  }
}
