.garbage-management-record-event-ias-task-info {
  width: 100%;
  height: 100%;

  .form {
    &s {
      flex-wrap: wrap;
    }

    &-item {
      width: calc((100% - 20px) * 0.5);

      &-name {
        width: 68px;
      }

      &.full {
        width: 100%;
      }
    }
  }
}
