.text {
  &-green {
    color: #21e452;
  }

  &-red {
    color: #fd2f2d;
  }

  &-gray {
    color: #ccc;
  }

  &-orange {
    color: #ffba00;
  }

  &-yellow {
    color: #ffff00;
  }

  &-cyan {
    color: #00f6ff;
  }

  &-pink {
    color: #ff00f0;
  }

  &-white {
    color: white;
  }

  &-black {
    color: black;
  }

  &-blue {
    color: #00b3ff;
  }

  &-icon {
    color: #80aaff;
  }

}
