<div class="garbage-management-card-record-event">
  <howell-garbage-management-card
    class="garbage-management-container-card-item"
    [title]="'垃圾落地'"
  >
    <howell-garbage-management-chart-record-event-illegal-drop></howell-garbage-management-chart-record-event-illegal-drop>
  </howell-garbage-management-card>
  <howell-garbage-management-card
    class="garbage-management-container-card-item"
    [title]="'混合投放'"
  >
    <howell-garbage-management-chart-record-event-mixed-into></howell-garbage-management-chart-record-event-mixed-into>
  </howell-garbage-management-card>
</div>
