<div class="garbage-management-record-event-illegal-drop-manager">
  <div class="garbage-management-record-event-illegal-drop-manager-head">
    <div class="button-group">
      <div
        class="button-bracket"
        [class.selected]="index == Index.list"
        (click)="on.index(Index.list)"
      >
        列表
      </div>
      <!-- <div
        class="button-bracket"
        [class.selected]="index == Index.total"
        (click)="on.index(Index.total)"
      >
        总图表
      </div> -->
      <div
        class="button-bracket"
        [class.selected]="index == Index.details"
        (click)="on.index(Index.details)"
      >
        细分图表
      </div>
    </div>
  </div>
  <div class="garbage-management-record-event-illegal-drop-manager-body">
    <howell-garbage-management-record-event-illegal-drop-list-manager
      *ngIf="index == Index.list"
      [(args)]="args"
      (image)="on.image($event)"
      (video)="on.video($event)"
    ></howell-garbage-management-record-event-illegal-drop-list-manager>
    <howell-garbage-management-record-event-illegal-drop-statistic-total-manager
      *ngIf="index == Index.total"
    ></howell-garbage-management-record-event-illegal-drop-statistic-total-manager>
    <howell-garbage-management-record-event-illegal-drop-statistic-details-manager
      *ngIf="index == Index.details"
      [(args)]="args"
    ></howell-garbage-management-record-event-illegal-drop-statistic-details-manager>
  </div>
</div>
