<div class="garbage-management-station-manager">
  <div class="garbage-management-station-manager-head">
    <div class="button-group">
      <div
        class="button-bracket"
        [class.selected]="index == Index.list"
        (click)="on.index(Index.list)"
      >
        列表
      </div>
      <div
        class="button-bracket"
        [class.selected]="index == Index.details"
        (click)="on.index(Index.details)"
      >
        细分图表
      </div>
      <div
        class="button-bracket"
        [class.selected]="index == Index.route"
        (click)="on.index(Index.route)"
      >
        线路统计
      </div>
    </div>
  </div>
  <div class="garbage-management-station-manager-body">
    <howell-garbage-management-record-event-ias-list-manager
      *ngIf="index == Index.list"
      (task)="on.task($event)"
      (position)="on.position($event)"
    ></howell-garbage-management-record-event-ias-list-manager>
    <howell-garbage-management-record-event-ias-statistic-details-manager
      *ngIf="index == Index.details"
    ></howell-garbage-management-record-event-ias-statistic-details-manager>
    <howell-garbage-management-record-event-ias-statistic-route-manager
      *ngIf="index == Index.route"
    ></howell-garbage-management-record-event-ias-statistic-route-manager>
  </div>
</div>
