<div class="garbage-management-manager">
  <div class="garbage-management-manager-head">
    <howell-garbage-management-header></howell-garbage-management-header>
  </div>
  <div class="garbage-management-manager-map">
    <howell-garbage-management-map
      [stations]="data.stations"
      [devices]="data.devices"
      [eventables]="data.eventables"
      [select]="map.select"
    ></howell-garbage-management-map>
    <div class="garbage-management-manager-map-mask"></div>
  </div>

  <div class="garbage-management-manager-card-panel left" #container_left>
    <div
      class="garbage-management-manager-card-item"
      *ngFor="let item of card.left"
      [class]="item.class"
    ></div>
  </div>
  <div class="garbage-management-manager-card-panel right" #container_right>
    <div
      class="garbage-management-manager-card-item"
      *ngFor="let item of card.right"
      [class]="item.class"
    ></div>
  </div>
  <div class="garbage-management-manager-state-usage">
    <howell-garbage-management-statistic-station
      [index]="navigation.index"
      [stations]="data.source.stations"
      [devices]="data.devices"
      (openstations)="statistic.station.open($event)"
      (opendevices)="statistic.device.open()"
    ></howell-garbage-management-statistic-station>
  </div>
  <div class="garbage-management-manager-state-station">
    <howell-garbage-management-state-station
      [index]="navigation.index"
      [eventables]="data.eventables"
      [stations]="data.source.stations"
      (selectedChange)="data.on.state($event)"
    ></howell-garbage-management-state-station>
  </div>

  <div class="garbage-management-manager-controls">
    <howell-garbage-management-control-button-list
      (home)="navigation.home()"
      (mixedinto)="navigation.mixedinto()"
      (garbagedrop)="navigation.garbagedrop()"
      (vehicle)="navigation.vehicle()"
      (street)="navigation.street()"
    ></howell-garbage-management-control-button-list>
  </div>

  <howell-panel
    *ngIf="window.settings.show"
    [model]="window.settings"
    [title]="window.settings.title"
    [style]="window.settings.style"
  >
    <howell-garbage-management-manager-settings></howell-garbage-management-manager-settings>
  </howell-panel>
  <howell-panel
    *ngIf="window.station.show"
    [model]="window.station"
    [title]="window.station.title"
    [style]="window.station.style"
  >
    <howell-garbage-management-station-manager></howell-garbage-management-station-manager>
  </howell-panel>
  <howell-panel
    *ngIf="window.street.show"
    [model]="window.street"
    [title]="window.street.title"
    [style]="window.street.style"
  >
    <howell-garbage-management-street-device-manager></howell-garbage-management-street-device-manager>
  </howell-panel>
</div>
