<div class="garbage-management-manager">
  <div class="garbage-management-manager-head">
    <howell-garbage-management-header></howell-garbage-management-header>
  </div>
  <div class="garbage-management-manager-map">
    <howell-garbage-management-map
      [stations]="data.stations"
      [devices]="data.devices"
      [exposeds]="data.exposeds"
      [eventables]="data.eventables"
      [heatmap]="data.heatmap"
      [select]="map.select"
      [move]="map.move"
      [(refresh)]="map.refresh"
      (camera)="map.on.camera($event)"
      (error)="map.on.error($event)"
      (garbagedrop)="map.on.garbagedrop($event)"
      (mixedinto)="map.on.mixedinto($event)"
      (garbagefull)="map.on.garbagefull($event)"
      (illegaldrop)="map.on.illegaldrop($event)"
      (illegalvehicle)="map.on.illegalvehicle($event)"
      (exposeddblclick)="window.task.ias.open($event)"
      (devicedblclick)="map.on.device.dblclick($event)"
    ></howell-garbage-management-map>
    <div class="garbage-management-manager-map-mask"></div>
  </div>

  <div class="garbage-management-manager-card-panel left" #container_left>
    <div
      class="garbage-management-manager-card-item"
      *ngFor="let item of card.left"
      [class]="item.class"
    ></div>
  </div>
  <div class="garbage-management-manager-card-panel right" #container_right>
    <div
      class="garbage-management-manager-card-item"
      *ngFor="let item of card.right"
      [class]="item.class"
    ></div>
  </div>
  <div
    class="garbage-management-manager-state-usage"
    *ngIf="state.statistic.show"
  >
    <howell-garbage-management-statistic-station
      [index]="navigation.index"
      [stations]="data.source.stations"
      [devices]="data.devices"
      (openstations)="statistic.station.open($event)"
      (opendevices)="statistic.device.open()"
    ></howell-garbage-management-statistic-station>
  </div>
  <div
    class="garbage-management-manager-state-station"
    *ngIf="state.display.station.show"
  >
    <howell-garbage-management-state-station
      [index]="navigation.index"
      [eventables]="data.eventables"
      [stations]="data.source.stations"
      (selectedChange)="data.on.state($event)"
    ></howell-garbage-management-state-station>
  </div>
  <div
    class="garbage-management-manager-state-record-ias"
    *ngIf="state.display.ias.record.show"
  >
    <howell-garbage-management-state-record-ias
      [exposed]="data.count.ias.exposed"
      [timeout]="data.count.ias.timeout"
      [(exposedSelected)]="state.display.ias.record.exposed"
      [(timeoutSelected)]="state.display.ias.record.timeout"
      (exposedSelectedChange)="data.on.ias.exposed($event)"
    ></howell-garbage-management-state-record-ias>
  </div>
  <div
    class="garbage-management-manager-ias-extend-control"
    *ngIf="state.extend.control.show"
  >
    <howell-garbage-management-manager-map-ias-extend-control
      [(heatmap)]="state.extend.heatmap.show"
      (heatmapChange)="state.extend.heatmap.on.open()"
    ></howell-garbage-management-manager-map-ias-extend-control>
  </div>
  <div
    class="garbage-management-manager-ias-extend-heatmap"
    *ngIf="state.extend.heatmap.show"
  >
    <howell-garbage-management-manager-map-ias-extend-heatmap
      (argsChange)="state.extend.heatmap.on.change($event)"
      (close)="state.extend.heatmap.on.close()"
    ></howell-garbage-management-manager-map-ias-extend-heatmap>
  </div>

  <div class="garbage-management-manager-controls">
    <howell-garbage-management-control-button-list
      (home)="navigation.home()"
      (station)="navigation.garbagestation()"
      (garbagedrop)="navigation.garbagedrop()"
      (vehicle)="navigation.vehicle()"
      (street)="navigation.street()"
    ></howell-garbage-management-control-button-list>
  </div>

  <howell-panel
    *ngIf="panel.settings.show"
    [model]="panel.settings"
    [title]="panel.settings.title"
    [style]="panel.settings.style"
  >
    <howell-garbage-management-manager-settings></howell-garbage-management-manager-settings>
  </howell-panel>
  <howell-panel
    *ngIf="panel.station.show"
    [model]="panel.station"
    [title]="panel.station.title"
    [style]="panel.station.style"
  >
    <howell-garbage-management-station-manager
      [type]="panel.station.args.type"
      (image)="panel.station.on.image($event)"
      (video)="panel.station.on.video($event)"
      (position)="panel.station.on.position($event)"
    ></howell-garbage-management-station-manager>
  </howell-panel>
  <howell-panel
    *ngIf="panel.street.show"
    [model]="panel.street"
    [title]="panel.street.title"
    [style]="panel.street.style"
  >
    <howell-garbage-management-street-manager
      [args]="panel.street.args"
      [index]="panel.street.index"
      (position)="panel.street.on.position($event)"
    ></howell-garbage-management-street-manager>
  </howell-panel>

  <howell-panel
    *ngIf="panel.record.illegaldrop.show"
    [model]="panel.record.illegaldrop"
    [title]="panel.record.illegaldrop.title"
    [style]="panel.record.illegaldrop.style"
  >
    <howell-garbage-management-record-event-illegal-drop-manager
      [args]="panel.record.illegaldrop.args"
      (image)="panel.record.illegaldrop.on.image($event)"
      (video)="panel.record.illegaldrop.on.video($event)"
    >
    </howell-garbage-management-record-event-illegal-drop-manager>
  </howell-panel>
  <howell-panel
    *ngIf="panel.record.illegaldump.show"
    [model]="panel.record.illegaldump"
    [title]="panel.record.illegaldump.title"
    [style]="panel.record.illegaldump.style"
  >
    <howell-garbage-management-record-event-illegal-dump-manager
      [args]="panel.record.illegaldump.args"
      (image)="panel.record.illegaldump.on.image($event)"
      (video)="panel.record.illegaldump.on.video($event)"
    >
    </howell-garbage-management-record-event-illegal-dump-manager>
  </howell-panel>
  <howell-panel
    *ngIf="panel.record.illegalvehicle.show"
    [model]="panel.record.illegalvehicle"
    [title]="panel.record.illegalvehicle.title"
    [style]="panel.record.illegalvehicle.style"
  >
    <howell-garbage-management-record-event-illegal-vehicle-manager
      [args]="panel.record.illegalvehicle.args"
      (image)="panel.record.illegalvehicle.on.image($event)"
      (video)="panel.record.illegalvehicle.on.video.single($event)"
      (videoall)="panel.record.illegalvehicle.on.video.multiple($event)"
      (complete)="window.task.illegalvehicle.open($event)"
    >
    </howell-garbage-management-record-event-illegal-vehicle-manager>
  </howell-panel>
  <howell-panel
    *ngIf="panel.record.mixedinto.show"
    [model]="panel.record.mixedinto"
    [title]="panel.record.mixedinto.title"
    [style]="panel.record.mixedinto.style"
  >
    <howell-garbage-management-record-event-mixed-into-manager
      [args]="panel.record.mixedinto.args"
      (image)="panel.record.mixedinto.on.image($event)"
      (video)="panel.record.mixedinto.on.video.single($event)"
      (videoall)="panel.record.mixedinto.on.video.multiple($event)"
      (complete)="panel.record.mixedinto.on.complete($event)"
    ></howell-garbage-management-record-event-mixed-into-manager>
  </howell-panel>
  <howell-panel
    *ngIf="panel.record.garbagefull.show"
    [model]="panel.record.garbagefull"
    [title]="panel.record.garbagefull.title"
    [style]="panel.record.garbagefull.style"
  >
    <howell-garbage-management-record-event-garbage-full-manager
      [args]="panel.record.garbagefull.args"
      (image)="panel.record.garbagefull.on.image($event)"
      (video)="panel.record.garbagefull.on.video.single($event)"
      (videoall)="panel.record.garbagefull.on.video.multiple($event)"
      (complete)="panel.record.garbagefull.on.complete($event)"
      (stationimage)="panel.record.garbagefull.on.station.image($event)"
      (stationvideo)="panel.record.garbagefull.on.station.video($event)"
      (stationposition)="panel.record.garbagefull.on.station.position($event)"
    >
    </howell-garbage-management-record-event-garbage-full-manager>
  </howell-panel>
  <howell-panel
    *ngIf="panel.record.garbagedrop.show"
    [model]="panel.record.garbagedrop"
    [title]="panel.record.garbagedrop.title"
    [style]="panel.record.garbagedrop.style"
  >
    <howell-garbage-management-record-event-garbage-drop-manager
      [args]="panel.record.garbagedrop.args"
      (image)="panel.record.garbagedrop.on.image($event)"
      (video)="panel.record.garbagedrop.on.video.single($event)"
      (videoall)="panel.record.garbagedrop.on.video.multiple($event)"
      (complete)="panel.record.garbagedrop.on.complete($event)"
    ></howell-garbage-management-record-event-garbage-drop-manager>
  </howell-panel>
  <howell-panel
    *ngIf="panel.record.ias.show"
    [model]="panel.record.ias"
    [title]="panel.record.ias.title"
    [style]="panel.record.ias.style"
  >
    <howell-garbage-management-record-event-ias-manager
      [args]="panel.record.ias.args"
      (task)="window.task.ias.open($event)"
      (position)="panel.record.ias.on.position($event)"
      (image)="panel.record.ias.on.image($event)"
      (video)="panel.record.ias.on.video($event)"
      (association)="panel.record.ias.on.association($event)"
    ></howell-garbage-management-record-event-ias-manager>
  </howell-panel>

  <howell-window
    [model]="window.association"
    *ngIf="window.association.show"
    [style]="window.association.style"
    [title]="window.association.title"
  >
    <howell-garbage-management-record-event-ias-list-table-association
      [args]="window.association.args"
      (task)="window.task.ias.open($event)"
      (position)="panel.record.ias.on.position($event)"
      (image)="panel.record.ias.on.image($event)"
      (video)="panel.record.ias.on.video($event)"
    ></howell-garbage-management-record-event-ias-list-table-association>
  </howell-window>
  <howell-window
    [model]="window.task.complete"
    *ngIf="window.task.complete.show"
    [style]="window.task.complete.style"
    [title]="window.task.complete.title"
    [mask]="!window.opened"
  >
    <event-handle-complete
      [data]="window.task.complete.data"
    ></event-handle-complete>
  </howell-window>
  <howell-window
    *ngIf="window.task.ias.show"
    [model]="window.task.ias"
    [title]="window.task.ias.title"
    [style]="window.task.ias.style"
    [mask]="!window.opened"
  >
    <howell-garbage-management-record-event-ias-task-manager
      [data]="window.task.ias.data"
    ></howell-garbage-management-record-event-ias-task-manager>
  </howell-window>
  <howell-window
    *ngIf="window.task.illegalvehicle.show"
    [model]="window.task.illegalvehicle"
    [title]="window.task.illegalvehicle.title"
    [style]="window.task.illegalvehicle.style"
    [mask]="!window.opened"
  >
    <howell-garbage-management-record-event-illegal-vehicle-task-manager
      [data]="window.task.illegalvehicle.data"
      (image)="window.task.illegalvehicle.on.image($event)"
      (video)="window.task.illegalvehicle.on.video($event)"
    ></howell-garbage-management-record-event-illegal-vehicle-task-manager>
  </howell-window>

  <howell-window
    [model]="window.picture"
    *ngIf="window.picture.show"
    [style]="window.picture.style"
    [title]="window.picture.title"
    [mask]="!window.opened"
  >
    <howell-container-page
      [page]="window.picture.page"
      (pageChange)="window.picture.on.page.change($event)"
    >
      <app-picture-polygon-multiple
        [src]="window.picture.current?.url"
        [polygon]="window.picture.current?.polygon ?? []"
      ></app-picture-polygon-multiple>
    </howell-container-page>
  </howell-window>
  <howell-window
    [model]="window.video.multiple"
    *ngIf="window.video.multiple.show"
    [style]="window.video.multiple.style"
    [title]="window.video.multiple.title"
    [mask]="!window.opened"
  >
    <div class="video-multiple-window">
      <howell-video-multiple
        *ngIf="!window.video.multiple.loading"
        [datas]="window.video.multiple.datas"
        [playable]="window.video.multiple.playable"
        (play)="window.video.multiple.on.play($event)"
        (error)="window.video.multiple.on.error($event)"
      ></howell-video-multiple>
      <div class="loading" *ngIf="window.video.multiple.loading"></div>
    </div>
  </howell-window>
  <howell-video-window
    *ngIf="window.video.ws.show"
    [Model]="window.video.ws"
    [title]="window.video.ws.title"
    [style]="window.video.ws.style"
    [mask]="window.video.ws.mask"
    [playback]="medium.playback"
    [preview]="medium.preview"
    (opened)="medium.play()"
  >
  </howell-video-window>
  <howell-window
    [model]="window.video.mkv"
    *ngIf="window.video.mkv.show && window.video.mkv.data"
    [style]="window.video.mkv.style"
    [title]="window.video.mkv.title"
    [mask]="!window.opened"
  >
    <div class="video-mkv-window">
      <video
        [src]="window.video.mkv.data.src"
        autoplay="autoplay"
        controls
      ></video>
    </div>
  </howell-window>
  <howell-window
    [model]="window.map"
    *ngIf="window.map.show"
    [style]="window.map.style"
    [title]="window.map.title"
    [mask]="!window.opened"
  >
    <howell-garbage-management-manager-map
      [data]="window.map.data"
    ></howell-garbage-management-manager-map>
  </howell-window>
</div>
