.garbage-management-record-event-garbage-drop-duration-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-item {
    display: flex;

    flex-direction: column;
    gap: 5px;

    &-content {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      gap: 5px;

      &-value {
        font-size: 40px;
        color: #fff;
        font-weight: 300;
      }

      &-unit {
        color: #3184e3;
      }
    }
  }
}
