<div class="garbage-management-card-chart-line-record-event">
  <howell-garbage-management-card>
    <div ngProjectAs="card-header" class="card-head">
      <div class="card-head-title">
        {{ language.unit() }}{{ language.type()
        }}<span class="card-head-title-count">{{ count }}</span
        >起
      </div>
      <div class="card-head-operation">
        <select [(ngModel)]="unit" class="noborder">
          <option [ngValue]="TimeUnit.Day">今日</option>
          <option [ngValue]="TimeUnit.Week">本周</option>
          <option [ngValue]="TimeUnit.Month">本月</option>
        </select>
      </div>
    </div>
    <howell-garbage-management-chart-record-event-container
      [load]="load"
      [type]="type"
      [unit]="unit"
      [color]="color"
      (loaded)="on.loaded($event)"
    ></howell-garbage-management-chart-record-event-container>
  </howell-garbage-management-card>
</div>
